@import url("./fonts.css");

/* ----------[Colors]---------- */

body{
    --color-darkblue: #3007c5;
    --color-red: #ff0000;
    --color-brown: #a52a2a;
}

/* ----------[Task 1]---------- */

.task1{
    text-align: center;
    font-family: "RobotoSlab";
    font-weight: 700;
    font-size: 25px;
    padding-top: 20px;
}

.task1-header{
    margin-bottom: 20px;
}

/* ----------[Task 2]---------- */

.task2{
    text-align: center;
    font-family: "RobotoSlab";
    font-weight: 700;
    font-size: 25px;
    padding-top: 20px;
}

.task2-header{
    margin-bottom: 20px;
}

.task2-content{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    background: url('../img/task2/placeimg_400_200_nature.jpg') no-repeat;
  }

@media (-webkit-min-device-pixel-ratio: 2){
    .task2-content { background: url('../img/task2/placeimg_800_400_nature.jpg') no-repeat; }
}

/* ----------[Task 3]---------- */

.task3{
    text-align: center;
    font-family: "RobotoSlab";
    font-weight: 700;
    font-size: 25px;
    padding-top: 20px;
}

.task3-header{
    margin-bottom: 20px;
}

.logo__link{
    text-decoration: none;
    color: var(--color-darkblue);
}

.navigation{
    padding-top: 20px;
}

.navigation__link{
    text-decoration: none;
}

.navigation__link:hover, .navigation__link:focus{
    color: var(--color-red);
}

.navigation__element{
    color: var(--color-brown);
}