@import url("./fonts.css");

:root{
    --color-white: #ffff;
    --color-red: #ff4e50;
    --color-orange: #ffa507;
    --color-lightgreen: #1cd7ad;
    --color-darkblue: #4e73db;
}

/* ----------[Promo]---------- */

.promo_section{
    background-repeat: no-repeat;
    background-size: cover;
}

/* =====[Header]===== */

.promo_header{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 38px;
}

.logo{
    color: var(--color-white);
    text-transform: uppercase;
    font-family: 'Moncerat';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    vertical-align: bottom;
}

.log_in_promo_button{
    font-size: 14px;
    border: none;
    background: none;
    color: var(--color-white);
    font-family: 'Moncerat';
    font-weight: 700;
    width: 88px;
    height: 36px;
    cursor: pointer;
}

.sing_up_promo_button{
    font-size: 14px;
    background: none;
    color: var(--color-white);
    font-family: 'Moncerat';
    font-weight: 700;
    border: var(--color-white) 2px solid;
    border-radius: 30px;
    width: 88px;
    height: 36px;
    cursor: pointer;
}

/* =====[Content]===== */

.promo_content{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.promo_title{
    color: var(--color-white);
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
}

.promo_desc{
    color: var(--color-white);
    font-family: "Roboto";
    font-weight: 300;
    line-height: 1.2;
}

.promo_final_button{
    display: block;
    border: none;
    background: var(--color-red);
    color: var(--color-white);
    border-radius: 30px;
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 1.2;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

/* ----------[Partners]---------- */

.partners_content{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.partners_title{
    padding-top: 70px;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.partners_block{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.partner_image{
    position: relative;
    width: 120px;
    height: 120px;
    margin: auto;
}

.partner_photo{
    position: absolute;
    border-radius: 100px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.icon{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    border: var(--color-white) solid 3px;
    background-repeat: no-repeat;
    background-position: center;
}
.tv_icon{
    background-image: url('../img/icons/tv.png');
    background-color: var(--color-red);
}

.partner_name{
    font-family: "Montserrat";
    font-weight: 700;
}

.partner_desc{
    font-family: "Roboto";
    font-weight: 300;    
}

.flask_icon{
    background-image: url('../img/icons/flask.png');
    background-color: var(--color-orange);
}

.tea_icon{
    background-image: url('../img/icons/tea.png');
    background-color: var(--color-lightgreen);
}

.plane_icon{
    background-image: url('../img/icons/plane.png');
    background-color: var(--color-darkblue);
}

.see_other_partners{
    background: none;
    border-color: var(--color-red);
    color: var(--color-red);
    border-radius: 50px;
    border: 2px solid var(--color-red);
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 1.2;
    cursor: pointer;
}