body{
    font-family: 'Playfair Display', serif;
}

.menu{
    text-align: center;
}

.menu__item{
    display: inline;
    margin-right: 10px;
}

.menu__item_element{
    color: black;
    text-decoration: none;
}

.menu__item_element:hover{
    color: blue;    
}

/* ---------------------------------- */

.article__section{
    width: 470px;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);

}
.article__block{
    width: 470px;
    display: inline-block;

}
.article__img{
    width: 470px;
    height: 316px;
}

.article__type{
    text-transform: uppercase;
    color: #c4c0bb;
}

.article__title{
    color: #646464;
}

.article__description{
    color: #7a7a7a;
}

/* ---------------------------------- */

.articles__section{
    width: 960px;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
}